.container{
    width: 94%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
}
.header{
    width: 100%;
    display: flex;
    justify-content: center;
}
.mat-form-field {
    display: inline-block;
    position: relative;
    text-align: left;
    margin-left: 40px;
    width: 80px;
    font-size: 1rem;
}
.mat-form-field-infix {
    display: block;
    position: relative;
    flex: auto;
    min-width: 0;
    width: 80px;
}



.section{
    width: 100%;
}
.mat-tab-group {
    margin-bottom: 48px;
  }
  
.content{
    width: 90%;
    margin: auto;
    margin-top: 2rem;
}
mat-header-cell{
    font-size: 1.05rem;
    font-weight: 600;
}

mat-cell{
    height: 70px;
}
mat-cell img{
    cursor: pointer;
}

mat-cell a, a:hover, a:visited{
    text-decoration: none;
}