<div class="navbar" *ngIf="isLoggedIn()">
    <mat-toolbar color="default">
        <mat-toolbar-row>
            <a class="navbar-brand" routerLink="/home">
                <img src="../../assets/img/calikaLogo.PNG" height="50px" alt="Clika Baby">
            </a>
            <button mat-button [matMenuTriggerFor]="menu">Manutenção</button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>Clientes</button>
              <button mat-menu-item>Configurações</button>
              <button mat-menu-item>Utilizadores</button>
            </mat-menu>


            <span class="spacer"></span>
            <button mat-button>{{loginName}}</button>
            <button mat-button (click)="logout()" routerLink="/">Sair</button>
        </mat-toolbar-row>
    </mat-toolbar>
</div>