<h2 mat-dialog-title>TEMA: {{dados.pedido.tema}}</h2>
<mat-dialog-content>
<div class="mat-dialog-header">
    <div class="mat-dialog-header__left">
        <app-load-image (imageB64)="receiveImage($event)"></app-load-image>
        <img [src]="preview" alt="" height="260">
    </div>
    <div class="mat-dialog-header__right">
        <h5>Outras imagens
            <app-load-image (imageB64)="receiveOtherImages($event)"></app-load-image>
        </h5>
        <img *ngFor="let i of images" [src]="i" alt="" height="160">        
    </div>

</div>
<!--  Formulario para criar tema -->
<form class="mat-form" #f="ngForm" (submit)="saveModelo(f.value)">
        <mat-form-field>
            <mat-label>Ref. Interna</mat-label>
            <input matInput #refi name="refInterna" [ngModel]="modelo.refinterna" required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Ref. do Cliente <span class="text-small text-info">opcional</span></mat-label>
            <input matInput #refc name="refCliente" [ngModel]="modelo.refcliente">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Artigo</mat-label>
            <mat-select #art name="artigo" [ngModel]="modelo.artigo" required>
                <mat-option *ngFor="let a of artigos" [value]="a.id" 
                [attr.selected]="a.id == modelo.artigo">{{a.nome}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Preço</mat-label>
            <input matInput name="preco" [ngModel]="modelo.preco">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Escala</mat-label>
            <mat-select #esc name="escala" [ngModel]="modelo.escala" required>
                    <mat-option *ngFor="let e of escalas" [value]="e.id"
                    [attr.selected]="e.id == modelo.escala"
                    >{{e.nome}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Descrição</mat-label>
            <textarea matInput name="descricao" [ngModel]="modelo.descricao"
                      cdkTextareaAutosize cdkAutosizeMinRows="1">
            </textarea>
        </mat-form-field>

    <mat-dialog-actions>
        <button  mat-stroked-button color="accent">Guardar</button>  <!-- [disabled]="!esc.value" -->
        <button mat-stroked-button (click)="onNoClick()">Cancelar</button>
    </mat-dialog-actions>
</form>
</mat-dialog-content>
