<mat-card>
        <div class="mat-card-content">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Tema" name="tema" [(ngModel)]="pedido.tema" (change)="editPedido(pedido)">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Ref. Interna" name="refInterna" [(ngModel)]="pedido.refInterna" (change)="editPedido(pedido)">
            </mat-form-field>
        </div>
    <div class="mat-card-content">
        <img [src]="pedido.foto" alt="" (click)="fileInput2.click()">
    </div>
    <div class="mat-card-content">
        <button mat-stroked-button color="accent" *ngIf="pedido.situacao <= 3" (click)="addModeloDialog()">Adicionar Modelo</button>
        <button mat-stroked-button color="primary" *ngIf="pedido.situacao == 1" (click)="fecharParaAprovacao(pedido)">Fechar para Aprovação</button>
        <button mat-stroked-button class="color-green" *ngIf="pedido.situacao == 2" (click)="aprovado(pedido)" title="Inserir os dados do pedido">Aprovado</button>
        <button mat-stroked-button class="color-red" *ngIf="pedido.situacao == 2" (click)="recusado(pedido)">Recusado</button>
        <button mat-stroked-button color="accent" *ngIf="pedido.situacao == 3" (click)="paraProducao(pedido)">Para Produção</button>
        <button mat-stroked-button color="accent" *ngIf="pedido.situacao == 5" (click)="concluido(pedido)">Concluido</button>
        <button mat-stroked-button color="warn" *ngIf="pedido.situacao == 6" (click)="reproducao(pedido)">Re-Produção</button>
        <button mat-stroked-button (click)="sair()">Sair</button>
        <button mat-fab color="warn" [disabled]="pedido.situacao > 3" (click)="deletePedido(pedido)" title="Apagar pedido e modelos!">
            <i class="material-icons">delete</i>
        </button>
    </div>

</mat-card>

<!-- Linhas do pedido - modelos -->
<div class="content">
    <div class="mat-elevation-z8">
        <mat-table [dataSource]="modelos">
            <!-- Ref Interna Column -->
            <ng-container matColumnDef="refinterna">
                <mat-header-cell *matHeaderCellDef> Ref. Interna </mat-header-cell>
                <mat-cell *matCellDef="let element" (click)="editarModelo(element)">
                    <strong>{{element.refinterna}}</strong>
                </mat-cell>
            </ng-container>
            <!-- Ref Cliente Column -->
            <ng-container matColumnDef="refcliente">
                <mat-header-cell *matHeaderCellDef> Ref. Cliente </mat-header-cell>
                <mat-cell *matCellDef="let element" (click)="editarModelo(element)">
                    {{element.refcliente}}
                </mat-cell>
            </ng-container>
            <!-- Artigo Column -->
            <ng-container matColumnDef="nome">
                <mat-header-cell *matHeaderCellDef> Artigo </mat-header-cell>
                <mat-cell *matCellDef="let element" (click)="editarModelo(element)">
                    {{element.nome}}
                </mat-cell>
            </ng-container>
            <!-- Imagem Column -->
            <ng-container matColumnDef="imagem">
                <mat-header-cell *matHeaderCellDef> Imagem </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <img src="{{element.foto}}" alt="" height="60px" (click)="editarModelo(element)">
                </mat-cell>
            </ng-container>
            <!-- Remover Modelo-->
            <ng-container matColumnDef="star">
                <th mat-header-cell *matHeaderCellDef>Ações</th>
                <td mat-cell *matCellDef="let element">
                    <button [disabled]="pedido.situacao > 3" 
                        mat-icon-button color="warn" 
                        title="Remover modelo" 
                        (click)="deleteModelo(element)">
                        <mat-icon>delete_outline</mat-icon>
                    </button>
                </td>
            </ng-container>
            <mat-header-row *matHeaderRowDef="FormPedidoColunas"></mat-header-row>
            <mat-row *matRowDef="let row; columns: FormPedidoColunas;"></mat-row>
        </mat-table>
    </div>
</div>