.mat-card{
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.mat-card-content{
    width: 33%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
}
.mat-card-content img{
    height: 120px;
}

td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
    border-bottom-style: hidden;
}

.mat-cell:hover {
    cursor: pointer;
}

.color-green{
    color: green;
}

.color-red{
    color: red;
}

ul{
    list-style-type: none; 
    display: inline; 
    margin-left: 40px;
}
.text-info{
    width: 200px;
    font-size: large;
    color: darkcyan;
    text-transform: uppercase;
}

.text-primary{
    font-size: large;
    color: dodgerblue;
    text-transform: capitalize;
}

.mat-card-right{
    width: 400px;
    max-height: 100px;
    float: right;
}
.mat-card-right img{
    max-height: 100px;
}


.mat-dialog-container{
    max-width: 850px;
}

.mat-dialog-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.mat-form-field{
    width: 220px;
    margin: 5px 40px;
}
