<mat-card>
    <mat-card-content>
        <div class="mat-card-left">
            <ul>
                <li><span class="text-info">Tema:</span><span class="text-primary">{{pedido.tema}}</span></li>
                <li><span class="text-info">Cliente:</span><span class="text-primary">{{pedido.nomeCliente}}</span></li>
                <li><span class="text-info">Ref. Interna:</span><span class="text-primary">{{pedido.refInterna}}</span>
                </li>
            </ul>
        </div>
        <div class="mat-card-right">
            <img [src]="pedido.foto" alt="" (click)="fileInput2.click()">

        </div>
    </mat-card-content>
    <mat-card-footer>
        <button mat-stroked-button color="primary" (click)="addModeloDialog()">Adicionar Modelo</button>
        <button mat-stroked-button color="warn" (click)="cancelarCriar()">Cancela</button>
        <mat-icon size="lg" (click)="deletePedido()" matSuffix>delete</mat-icon>
    </mat-card-footer>
</mat-card>

<!-- Linhas do pedido - modelos -->
<div class="content">
    <div class="mat-elevation-z8">
        <mat-table [dataSource]="modelos">
            <!-- Ref Interna Column -->
            <ng-container matColumnDef="refinterna">
                <mat-header-cell *matHeaderCellDef> Ref. Interna </mat-header-cell>
                <mat-cell *matCellDef="let element" (click)="editarModelo(element)">
                    {{element.refinterna}}
                </mat-cell>
            </ng-container>

            <!-- Ref Cliente Column -->
            <ng-container matColumnDef="refcliente">
                <mat-header-cell *matHeaderCellDef> Ref. Cliente </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.refcliente}} </mat-cell>
            </ng-container>

            <!-- Imagem Column -->
            <ng-container matColumnDef="imagem">
                <mat-header-cell *matHeaderCellDef> Imagem </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <img src="{{element.foto}}" alt="" height="60px" (click)="openDialog(element)">
                </mat-cell>
            </ng-container>

            <!-- Artigo Column -->
            <ng-container matColumnDef="nome">
                <mat-header-cell *matHeaderCellDef> Artigo </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.nome}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="FormPedidoColunas"></mat-header-row>
            <mat-row *matRowDef="let row; columns: FormPedidoColunas;"></mat-row>
        </mat-table>
    </div>
</div>